<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>flask-bootstrap example</title>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  </head>
  <body>
    <h1>Welcome to my Flask Pagination Example Using MONGO!!!</h1>
    <p>Want to see how it looks? <a href="{{ url_for('showTests') }}">View Now</a></p>
    <p>Want to add a new Task? <a href="{{ url_for('addTest') }}">Add Now</a></p>

  </body>
</html>